---
layout: default
---


<div id="content" class="content">

    <p class="category" style="text-align: centre;">
        Namaste,<br/>
        
        Traverser le Népal, voilà un rêve que nous sommes en passe de réaliser. Nous sommes deux étudiants qui allons parcourir à pied plus de 1000 kms à travers le chaîne himalayenne. Un véritable périple dans lequel nous impliquons une classe de primaire, qui nous suivra virtuellement grâce à notre balise satellite et nos newsletters.<br/><br/>
        Bonne visite sur notre site!<br/>
        
        <I>"Il n'y a pas de chemin qui mène au bonheur, le bonheur est le chemin". Buddha</I>
    </p>


    <h3>Nos aventures les plus récentes</h3>
    <ul class="category recent-posts">       
        {% for post in site.posts  %}
        {% unless post.draft %}

        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}

        <li>
            <div class="article">
                <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                    <header class="post-header">
                        <span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
                        <time class="date" itemprop="datePublished" datetime="{{post.date | date: "%Y-%m-%d"}}">{{post.date | date: "%B %e, %Y"}}</time>
                    </header>
                </article>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>


     <h3>Où en sommes nous ?</h3>

    <div><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=84.60845947265625%2C27.307112806993704%2C86.02294921875%2C28.105903469076186&amp;layer=hot&amp;marker=27.70723919707412%2C85.31570434570312">Your brother does not support the open street map iframe</iframe>
    </div>

</div>
